{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 2, "knowledge_revision": 5, "git_revision": "", "hash": "76b37fae56c0646b05d40b6997863678", "format-version": 4, "code-base-name": "backend_api", "filename": "requirements.txt", "revision_history": [{"5": ""}]}